
<suite name="ParallelSuite" parallel="tests" thread-count="2">
    <test name="EdgeTests">
    	<parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
        <!--   <class name="tests.SearchTest"/>
            <class name="tests.ProfileTest"/> -->
        </classes>
    </test>
    <test name="ChromeTests">
    	<parameter name="browser" value="chrome" />
        <classes>
            <class name="tests.LoginTest"/>
           <!-- <class name="tests.SearchTest"/>
            <class name="tests.ProfileTest"/> -->
        </classes>
    </test>
</suite>
